@model IEnumerable<Epic_Arts_Entertainment.Models.AgendamentoVM>

@{
    Layout = "~/Views/Shared/_Layout_Gerenciamento.cshtml";
}

<body>
    <section class="maneger-page-section">
        <div class="container page-maneger servico-height">
            <div class="logo-container text-center mt-3 mb-3">
                <a href="/Home/Index"><img src="~/images/Logo/Logo.png" alt="About-Image" style="width: 100px; height: 100px; "></a>
            </div>
            <div class="add-user-button">
                <br>
                <h1 class="section-title cliente-title-maneger">Gerenciamento de Agendamento</h1>
                <br>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-danger btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirAgendamento">
                            <i class="fa fa-plus"></i> Adicionar Agendamento
                        </button>
                    </div>
                </div>
            </div>

            <!-- Contador de Registros Centralizado com Fonte Maior -->
            <div style="text-align: center; color: #ac0404; margin-top: 10px;">
                <strong style="font-size: 18px">Total de Usuários: <span id="registroCount">0</span></strong>
            </div>

            <div class="table-container" style="max-height: 400px; overflow-y: auto;">
                <div>
                    <table id="TbClientes" class="table" style="width: 100%; border-collapse: collapse;">
                        <colgroup>
                            <col class="tc-nome">
                        </colgroup>
                        <thead style="background-color: #ac0404; color: #fc0fc0;">
                            <tr>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">#</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Nome</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Email</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Telefone</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0;background-color: #000000;">Data do Agendamento</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Horario</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Serviço</th>
                                <th style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Valor</th>
                                <th class="editar" style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Editar</th>
                                <th class="excluir" style="color: #fc0fc0; border: 1px solid #fc0fc0; background-color: #000000;">Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var agendamento in Model)
                                {
                                    <tr>
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.IdAgendamento</td>
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.UsuarioNome</td> <!-- Nome do usuário -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.UsuarioEmail</td> <!-- Email do usuário -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.UsuarioTelefone</td> <!-- Telefone do usuário -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.DataAgendamento</td> <!-- Data do agendamento -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.Horario</td> <!-- Hora do agendamento -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.ServicoNome</td> <!-- Nome do serviço -->
                                        <td style="color: #fc0fc0; border: 1px solid #fc0fc0;">@agendamento.ServicoValor</td> <!-- Valor do serviço -->

                                        <td class="text-center" style="color: #ac0404; border: 1px solid #fc0fc0;">
                                            <button class="btn btn-editar"
                                                    onclick="definirEdt(@agendamento.IdAgendamento, '@agendamento.UsuarioNome', '@agendamento.UsuarioEmail', '@agendamento.UsuarioTelefone', '@agendamento.DataAgendamento', '@agendamento.Horario', '@agendamento.ServicoNome', '@agendamento.ServicoValor')"
                                                    data-bs-toggle="modal" data-bs-target="#AlterarAgendamento">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </td>
                                        <td class="text-center" style="color: #ac0404; border: 1px solid #fc0fc0;">
                                            <button class="btn btn-excluir"
                                                    onclick="definirExc(@agendamento.IdAgendamento, '@agendamento.UsuarioNome', '@agendamento.UsuarioEmail', '@agendamento.UsuarioTelefone', '@agendamento.DataAgendamento', '@agendamento.Horario', '@agendamento.ServicoNome', '@agendamento.ServicoValor')"
                                                    data-bs-toggle="modal" data-bs-target="#ExcluirAgendamento">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="11" style="text-align: center; color: #EAE7DC; padding: 8px;">Nenhum atendimento encontrado.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <div class="modal fade" id="ExcluirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Excluir Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data de Agendamento</label>
                                <input type="date" id="ExcAgendarData" class="form-control" placeholder="01/01/2000" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="ExcHorario" class="form-control" placeholder="08:00" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Servico</label>
                                <input type="text" id="ExcServico" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="ExcVal" class="form-control" placeholder="R$ 100,00" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="ExcConf" class="form-control" placeholder="Confirmado" readonly>

                            </div>


                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger" onclick="ExcluirAgendamentoo()">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80vh;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Adicionar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtId" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <!-- Campo de data -->
                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdt" type="date" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamento()">
                            </div>

                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    @Html.DropDownList("DropUsuario",
                                             new SelectList(ViewBag.Usuarios, "Value", "Text", null),
                                             "Escolha o usuário",
                                             new { @class = "form-control", @style = "width:230px; background-color: #EAE7DC; color: #333;", required = "required" })
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>

                            <!-- DropDown de Tipo de Serviço -->
                            <div class="mb-3 row">
                                <div class="col-md-6">
                                    @Html.DropDownList("TipoServico", ViewBag.lstTipoServico as SelectList, "Escolha o tipo de Serviço", new { @class = "form-control", @style = "width:230px; background-color: #EAE7DC; color: #333;", required = "required" })
                                </div>
                                <div class="col-md-6">
                                    <label style="color:red">*</label>
                                </div>
                            </div>

                            <fieldset>
                                <legend>Escolha o horário de atendimento:</legend>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk08" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                    <span id="Span08" style="color:red;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk10" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                    <span id="Span10" style="color:red;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk13" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                    <span id="Span13" style="color:red;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk15" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                    <span id="Span15" style="color:red;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk17" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                    <span id="Span17" style="color:red;"></span>
                                </div>

                                <div class="mb-3 d-flex align-items-center">
                                    <input type="checkbox" id="chk19" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario" disabled>
                                    <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                    <span id="Span19" style="color:red;"></span>
                                </div>
                            </fieldset>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirAgendamentos()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="AlterarAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Editar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="EdtNome" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="EdtEmail" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="EdtTel" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data do agendamento</label>
                                <input type="date" id="EdtData" class="form-control" readonly>

                            </div>

                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="EdtHorario" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Serviço</label>
                                <input type="text" id="EdtHorario" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="EdtVal" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="EdtConf" class="form-control" readonly>

                            </div>

                            <div class="mb-3">
                                <div class="mb-3 d-flex align-items-center">
                                    <br />
                                    <input type="checkbox" id="chkR" value="08:00" style="margin-right: 10px;">
                                    <label for="chkR">Reagendamento</label>
                                </div>
                            </div>
                            <div id="divCampos" style="border: 2px solid #000; padding: 10px; margin: 10px; display: none;">
                                <div class="mb-3">
                                    <input id="data_a" type="text" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamentoEdt();consultarAgendamentoManutencaoEdt()">
                                </div>
                                <div class="mb-3 d-flex align-items-center">
                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" class="form-control" readonly>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="AlterarAgendamento()" class="btn btn-primary">Atualizar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </section>



    <script src="~/lib/swiper/swiper-bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Impede a digitação manual no campo de data
        document.getElementById('data_agdt').addEventListener('keydown', function (e) {
            e.preventDefault(); // Bloqueia qualquer entrada do teclado
        });
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var isChecked = $(this).prop("checked");
                var groupId = $(this).attr("data-group");

                if (isChecked) {
                    $('input[type="checkbox"][data-group="' + groupId + '"]').not($(this)).prop("checked", false);
                }
            });
        });

        function consultarAgendamento() {
            ativarCheckboxes()
            limparTextosSpans()
            desmarcarCheckboxes()

            var data = $("#data_agdt").val();
            $.ajax({
                type: "GET",
                url: "/Agendamento/ConsultarAgendamento",
                data: { data: data },
                success: function (response) {

                    response.forEach(function (item) {
                        console.log(item.horario);

                        switch (item.horario) {
                            case "08:00:00":
                                $("#chk08").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span08").text("Horario Indisponivel");
                                break;
                            case "10:00:00":
                                $("#chk10").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span10").text("Horario Indisponivel");
                                break;
                            case "13:00:00":
                                $("#chk13").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span13").text("Horario Indisponivel");
                                break;
                            case "15:00:00":
                                $("#chk15").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span15").text("Horario Indisponivel");
                                break;
                            case "17:00:00":
                                $("#chk17").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span17").text("Horario Indisponivel");
                                break;
                            case "19:00:00":
                                $("#chk19").prop("disabled", true).prop("checked", true);  // Marcar e desabilitar
                                $("#Span19").text("Horario Indisponivel");
                                break;
                            default:
                                break;
                        }
                    });
                },
                error: function (error) {
                    // Manipule os erros aqui
                    console.error("Erro na requisição AJAX:", error);
                }
            });
        }

        function ativarCheckboxes() {
            // Seletor para encontrar apenas os checkboxes dentro do modal com o ID "meuModal"
            var checkboxes = document.querySelectorAll('#InserirAgendamento input[type="checkbox"]');

            // Itera sobre os checkboxes encontrados e ativa-os
            checkboxes.forEach(function (checkbox) {
                checkbox.disabled = false;
            });
        }

        function limparTextosSpans() {
            // Obtém todos os elementos <span> dentro do formulário
            var spans = document.querySelectorAll('#InserirAgendamento span');

            // Itera sobre os spans e define seu conteúdo como vazio
            spans.forEach(function (span) {
                span.textContent = '';
            });
        }

        function desmarcarCheckboxes() {
            // Obtém todos os elementos <input type="checkbox"> dentro do formulário
            var checkboxes = document.querySelectorAll('#InserirAgendamento input[type="checkbox"]');

            // Itera sobre os checkboxes e desmarca todos
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });
        }

        function limparFormulario() {
            var usuarioId = "@Context.Session.GetString("UsuarioId")";
            document.getElementById("TxtId").value = usuarioId;

            // Limpar campos de texto
            document.querySelectorAll('#InserirAgendamento input[type="text"]').forEach(function (input) {
                input.value = '';
            });

            // Limpar campos de seleção
            document.querySelectorAll('#InserirAgendamento select').forEach(function (select) {
                select.selectedIndex = 0;
            });

            // Desmarcar checkboxes

            // Limpar spans
            document.querySelectorAll('#InserirAgendamento span').forEach(function (span) {
                span.textContent = '';
            });

            document.querySelectorAll('#InserirAgendamento input[type="checkbox"]').forEach(function (checkbox) {
                checkbox.checked = false;
                checkbox.disabled = true;
            });

        }

        function obterDataHoraFormatada() {
            // Obtém a data e hora atuais
            var dataHoraAtual = new Date();

            // Formata a data e hora para o formato desejado (por exemplo, "yyyy-MM-dd HH:mm:ss.fff")
            var dataHoraFormatada = dataHoraAtual.getFullYear() + "-" +
                ("0" + (dataHoraAtual.getMonth() + 1)).slice(-2) + "-" +
                ("0" + dataHoraAtual.getDate()).slice(-2) + " " +
                ("0" + dataHoraAtual.getHours()).slice(-2) + ":" +
                ("0" + dataHoraAtual.getMinutes()).slice(-2) + ":" +
                ("0" + dataHoraAtual.getSeconds()).slice(-2) + "." +
                ("00" + dataHoraAtual.getMilliseconds()).slice(-3);

            // Retorna a data e hora formatada
            return dataHoraFormatada;
        }

        function InserirAgendamentos() {

            //var id =
            var dataC = obterDataHoraFormatada();
            var data = $("#data_agdt").val();
            var servico = $("#DropServico").val();
            var atendimentos = [];
            if ($("#chk08").prop("checked")) atendimentos.push($("#chk08").val());
            if ($("#chk10").prop("checked")) atendimentos.push($("#chk10").val());
            if ($("#chk13").prop("checked")) atendimentos.push($("#chk13").val());
            if ($("#chk15").prop("checked")) atendimentos.push($("#chk15").val());
            if ($("#chk17").prop("checked")) atendimentos.push($("#chk17").val());
            if ($("#chk19").prop("checked")) atendimentos.push($("#chk19").val());


            if (!id) {
                alert("Por favor, Insira aum Id");
                return;
            }

            if (!dataC) {
                alert("Por favor, selecione uma data de cadastro");
                return;
            }
            if (!data) {
                alert("Por favor, selecione uma data para o agendamento.");
                return;
            }
            if (!servico) {
                alert("Por favor, selecione o serviço.");
                return;
            }
            if (atendimentos.length === 0) {
                alert("Por favor, selecione pelo menos um horário para o agendamento.");
                return; // Retorna da função se nenhum horário foi selecionado
            }
            var dados = {
                id: id,
                dataC: dataC,
                data: data,
                servico: servico,
                atendimentos: atendimentos
            };
            console.log(dados)
            $.ajax({
                url: '/Agendamento/InserirAgendamentos',
                type: "POST",
                dataType: "json",
                data: dados,
                success: function (response) {
                    if (response.success) {
                        alert("Agendamento(s) cadastrado(s) com sucesso!");
                        $('#InserirAgendamento').modal('hide'); // Substitua 'seuModal' pelo ID do seu modal
                        // Atualizar a página
                        location.reload();
                    } else {
                        alert("Erro ao cadastrar agendamento(s).");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Erro ao cadastrar agendamento(s): " + errorThrown);
                }
            });
        }

        function AlterarAgendamento() {

            var id = $("#IdEdt").val();
            var servico = $('#DropServicoEdt option:selected').val();
            var data;
            var horario;
            if (!servico != 0) {
                alert("Por favor, preencha o campo Tecnica.");
                return;
            }
            if ($('#chkR').prop('checked')) {
                data = $("#data_a").val(),
                    horario = $('#DropHorario option:selected').text()

                if (!data) {
                    alert("Por favor, preencha o campo data.");
                    return;
                }
                if (!horario) {
                    alert("Por favor, preencha o campo horário.");
                    return;
                }

            }
            else {

                data = null,
                    horario = ""

            }

            var dados = {
                id: id,
                data: data,
                servico: servico,
                horario: horario
            };

            console.log(dados);
            $.ajax({
                url: '/Agendamento/AlterarAgendamentos',
                type: "POST",
                dataType: "json",
                data: dados,
                success: function (response) {
                    if (response.success) {
                        alert("Agendamento(s) Alterados(s) com sucesso!");
                        $('#EditarAgendamento').modal('hide'); // Substitua 'seuModal' pelo ID do seu modal
                        // Atualizar a página
                        location.reload();
                    } else {
                        alert("Erro ao alterar agendamento(s).");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Erro ao cadastrar agendamento(s): " + errorThrown);
                }
            });
        }

        function ExcluirAgendamento() {


            var userId = $('#IdExc').val();

            $.ajax({
                type: "POST",
                url: "/Agendamento/ExcluirAgendamento",
                dataType: "json",
                data: { id: userId },
                success: function (response) {

                    if (response.success) {

                        alert("Agendamento excluido com sucesso!");
                        $('#ExcluirAgendamento').modal('hide');
                        location.reload();

                    } else {

                        alert("Falha ao excluir usuário.");
                    }
                },
                error: function () {

                    alert("Erro na requisição AJAX.");
                }
            });
        }
    </script>

</body>