﻿@{
    Layout = "~/Views/Shared/_Layout_Gerenciamento.cshtml";
}

<body>
    
    <section class="maneger-page-section">
        <div class="container page-maneger agendamento-height">
            <div class="logo-container text-center mt-3 mb-3">
                <a href="/Home/Index"><img src="~/images/Logo/Logo.png" alt="About-Image" style="width: 100px; height: 100px; "></a>
            </div>

            <div class="add-user-button">
                <br>
                <h1 class="section-title cliente-title-maneger">Gerenciamento de Agendamento</h1>
                <br>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-4">
                            <input id="filtro" type="text" class="form-control" placeholder="Pesquisar Produtos..." aria-label="Filtrar" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-6 text-md-end">
                        <!-- Alteração para "text-md-end" para alinhar à direita apenas em telas médias e maiores -->
                        <button class="btn btn-danger btn-lg" onclick="" data-bs-toggle="modal" data-bs-target="#InserirAgendamento">
                            <i class="fa fa-plus"></i> Adicionar Agendamento
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-container" style="height: 400px; overflow-y: auto;">
                <table id="TbClientes" class="table table-striped">
                    <colgroup>
                        <col class="tc-nome">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Data do Agendamento</th>
                            <th>Horario</th>
                            <th>Serviço</th>
                            <th>Valor</th>
                            <th class="editar">Editar</th>
                            <th class="excluir">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var agendamento in Model)
                        {
                            <tr>
                                
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 10px;width: 50px">@agendamento.IdAgendamento</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 170px">@agendamento.UsuarioNome</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 180px">@agendamento.UsuarioEmail</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 150px">@agendamento.UsuarioTelefone</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 150px">@agendamento.DataAgendamento</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 80px">@agendamento.Horario</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 150px">@agendamento.ServicoNome</td>
                                <td style="color: #EAE7DC; border: 1px solid #fc0fc0; padding: 8px;width: 50px">@agendamento.ServicoValor</td>

                                <td class="text-center" style="border: 1px solid #fc0fc0; padding: 4px; width: 60px;">
                                    <button class="btn btn-default"
                                            onclick="definirEdt(@agendamento.IdAgendamento, '@agendamento.UsuarioNome', '@agendamento.UsuarioEmail', '@agendamento.UsuarioTelefone', '@agendamento.DataAgendamento', '@agendamento.Horario', '@agendamento.ServicoNome', '@agendamento.ServicoValor')"
                                            data-bs-toggle="modal" data-bs-target="#EditarAgendamento" style="padding: 5px 10px;">
                                        <i class="fa fa-edit" style="color: #F7F5F2;"></i>
                                    </button>
                                </td>

                                <td class="text-center" style="border: 1px solid #fc0fc0; padding: 4px; width: 60px;">
                                    <button class="btn btn-default"
                                            onclick="definirExc(@agendamento.IdAgendamento, '@agendamento.UsuarioNome', '@agendamento.UsuarioEmail', '@agendamento.UsuarioTelefone', '@agendamento.DataAgendamento', '@agendamento.Horario', '@agendamento.ServicoNome', '@agendamento.ServicoValor')"
                                            data-bs-toggle="modal" data-bs-target="#ExcluirAgendamento" style="padding: 5px 10px;">
                                        <i class="fa fa-trash" style="color: #F7F5F2;"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="ExcluirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Excluir Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="ExcNome" class="form-control" placeholder="Digite seu nome..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="ExcEmail" class="form-control" placeholder="Digite seu email..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="ExcTel" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data de Agendamento</label>
                                <input type="date" id="ExcAgendarData" class="form-control" placeholder="01/01/2000" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="ExcHorario" class="form-control" placeholder="08:00" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Servico</label>
                                <input type="text" id="ExcServico" class="form-control" placeholder="Digite seu telefone..." readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="ExcVal" class="form-control" placeholder="R$ 100,00" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="ExcConf" class="form-control" placeholder="Confirmado" readonly>

                            </div>


                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger" onclick="ExcluirAgendamentoo()">Excluir</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80vh;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Adicionar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtId" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <!-- Adicione o atributo data-group para cada grupo de checkboxes -->
                            <div class="mb-3 d-flex align-items-center">
                                <label for="frutas">Escolha uma data:</label>
                                <input id="data_agdt" type="date" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamento();consultarAgendamentoManutencao()">
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <label for="frutas">Escolha um serviço:</label>
                                <select id="frutas" name="frutas">
                                    <option value="web">Construção completa de sites - Front e Back</option>
                                    <option value="construcao">Construção e Projeção de Banco de Dados</option>
                                    <option value="migracao" selected>Migração para cloud</option>
                                    <option value="administracao">Administração e Analise de Bancos de Dados</option>
                                    <option value="dashboard">Criação de Dashboards</option>
                                    <option value="suporte">Suporte pos-execução</option>
                                </select>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk08" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
    <span id="Span08" style="color:red;"></span>
</div>

<div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk10" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
    <span id="Span10" style="color:red;"></span>
</div>

<div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk13" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
    <span id="Span13" style="color:red;"></span>
</div>

<div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk15" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
    <span id="Span15" style="color:red;"></span>
</div>

<div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk17" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
    <span id="Span17" style="color:red;"></span>
</div>

<div class="mb-3 d-flex align-items-center">
    <input type="checkbox" id="chk19" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario">
    <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
    <span id="Span19" style="color:red;"></span>
</div>


                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirAgendamentos()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="EditarAgendamento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Editar Agendamento</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome">Nome</label>
                                <input type="text" id="EdtNome" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="email">Email</label>
                                <input type="email" id="EdtEmail" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Telefone</label>
                                <input type="text" id="EdtTel" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Data do agendamento</label>
                                <input type="date" id="EdtData" class="form-control" readonly>

                            </div>

                            <div class="mb-3">
                                <label for="telefone">Horario</label>
                                <input type="text" id="EdtHorario" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Serviço</label>
                                <input type="text" id="EdtHorario" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Valor</label>
                                <input type="text" id="EdtVal" class="form-control" readonly>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Confirmação</label>
                                <input type="text" id="EdtConf" class="form-control" readonly>

                            </div>

                            <div class="mb-3">
                                <div class="mb-3 d-flex align-items-center">
                                    <br />
                                    <input type="checkbox" id="chkR" value="08:00" style="margin-right: 10px;">
                                    <label for="chkR">Reagendamento</label>
                                </div>
                            </div>
                            <div id="divCampos" style="border: 2px solid #000; padding: 10px; margin: 10px; display: none;">
                                <div class="mb-3">
                                    <input id="data_a" type="text" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamentoEdt();consultarAgendamentoManutencaoEdt()">
                                </div>
                                <div class="mb-3 d-flex align-items-center">

                                </div>
                            </div>
                            <input type="hidden" id="IdEdt" class="form-control" readonly>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick="AlterarAgendamento()" class="btn btn-primary">Atualizar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id="InserirAgendamentoM" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="max-height: 80vh;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Adicionar Agendamento de Manutenção</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="hidden" id="TxtIdM" class="form-check-input" value="10:00" style="margin-right: 10px;" disabled>
                            </div>

                            <div class="mb-3">
                                <label for="telefone">Serviço</label>

                            </div>
                            <div class="mb-3">
                                <label for="telefone">Manutenção diponivel para esse serviço</label>

                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input id="data_agdtM" type="text" class="form-control" style="width: 300px;" placeholder="Escolha a data do agendamento" oninput="consultarAgendamentoM();consultarAgendamentoManutencaoM()">
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk08M" class="form-check-input" value="08:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk08">Atendimento das 8:00</label>
                                <span id="Span08M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk10M" class="form-check-input" value="10:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk10">Atendimento das 10:00</label>
                                <span id="Span10M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk13M" class="form-check-input" value="13:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk13">Atendimento das 13:00</label>
                                <span id="Span13M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk15M" class="form-check-input" value="15:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk15">Atendimento das 15:00</label>
                                <span id="Span15M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk17M" class="form-check-input" value="17:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk17">Atendimento das 17:00</label>
                                <span id="Span17M" style="color:red;"></span>
                            </div>

                            <div class="mb-3 d-flex align-items-center">
                                <input type="checkbox" id="chk19M" class="form-check-input" value="19:00" style="margin-right: 10px;" data-group="horario" disabled>
                                <label class="form-check-label" for="chk19">Atendimento das 19:00</label>
                                <span id="Span19M" style="color:red;"></span>
                            </div>

                            <input type="hidden" id="IdEdt" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="InserirAgendamentoManutencao()">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>



    </section>



    <script src="~/lib/swiper/swiper-bundle.min.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>


    function InserirAgendamentos() {
    var horarioSelecionado = $('input[name="horario"]:checked').val();  // Captura o horário selecionado

    // Verificar se um horário foi selecionado
    if (!horarioSelecionado) {
        alert("Por favor, selecione um horário.");
        return;
    }

    var data = $('#data_agdtM').val();

    // Verificar se a data foi preenchida
    if (data.trim() === "") {
        alert("Por favor, escolha uma data.");
        return;
    }

    // Dados para o envio via AJAX
    var dados = {
        Horario: horarioSelecionado,
        DataAgendamento: data
    };

    // Envio via AJAX
    $.ajax({
        url: '/Agendamento/InserirAgendamento',  // Verifique a URL correta
        type: 'POST',
        dataType: 'json',
        data: dados,
        success: function (resultado) {
            if (resultado.success) {
                alert("Agendamento inserido com sucesso!");
                $('#InserirAgendamento').modal('hide');  // Fechar o modal
                location.reload();  // Atualizar a página
            } else {
                alert(resultado.message);
            }
        },
        error: function () {
            alert('Erro ao enviar o agendamento.');
        }
    });
}
</script>

</body>